@model IEnumerable<DemoDotNetMVC.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>

<form asp-controller="Employee" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeID">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeID">Chi Tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeID">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
